body {
  display: flex;
}

.sidebar {
  /* Высота сайдбара должна быть равна высоте видимой области */
  /*height: 100vh;*/
  /* Ширина сайдбара */
  width: 300px;
  /* Зафиксируем сайдбар, чтобы он оставался на месте при прокрутке */
  /*position: fixed;*/
  /* Сайдбар будет слева */
  /*left: 0;*/
  /* Отступ сверху */
  /*top: 0;*/
  /* Фон сайдбара */
  background-color: #f8f9fa;
}

.sidebar__button-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    /* Чтобы контент не налезал на сайдбар */
    /*margin-left: 300px;*/
    /* Остальной контент занимает всё доступное пространство */
    flex-grow: 1;
    padding: 1rem;
}

.content__button-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*!*h3 {*!*/
/*!*    margin-bottom: 0;*!*/
/*!*}*!*/

/*table {*/
/*    margin-bottom: 20px;*/
/*}*/

#editTextsForm {
    margin-top: 20px;
}

.reactions-form-title {
    margin-top: 20px;
}


/* Стилизация кнопок в сайдбаре */
.btn {
    display: flex; /* Кнопки будут блочными элементами */
    align-content: center;
    justify-content: center;
    /*width: 100%; !* Ширина кнопок будет равна ширине сайдбара *!*/
    text-align: center; /* Текст в кнопках будет выровнен по левому краю */
    height: 44px;
}

.btn a {
    color: white;
    text-decoration: none;
}

#content {
  /* Чтобы контент не налезал на сайдбар */
  /*margin-left: 300px;*/
  /* Остальной контент занимает всё доступное пространство */
  flex-grow: 1;
  padding: 1rem;
}

.reactions-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-square {
    height: 38px;
    width: 38px;
}

.reactions-form-title {
    margin-bottom: 10px;
}


/* Стилизация таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    border-radius: 8px;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
}
th {
    background-color: #007bff;
    color: white;
    font-size: 16px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Явное указание ширины столбцов */
th, td {
    width: 50%;
}

/* Стили текстового поля */
textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
}

/* Стилизация таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    border-radius: 8px;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
}
th {
    background-color: #007bff;
    color: white;
    font-size: 16px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Явное указание ширины столбцов */
th, td {
    width: 50%;
}

/* Стили текстового поля */
textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
}


.edit-button {
    margin-left: 10px;
}
