services:
  redis:
    image: 'redis:7.2-alpine'
    command: redis-server --appendonly yes
    restart: unless-stopped
    volumes:
      - english_buddy_bot_redisdata:/data
    ports:
      - "127.0.0.1:6379:6379"
volumes:
  english_buddy_bot_redisdata:
    external: true
