services:
  redis:
    image: 'redis:7.2-alpine'
    command: redis-server --appendonly yes
    restart: unless-stopped
    volumes:
      - redisdata:/data
    ports:
      - '6379:6379'
volumes:
  redisdata:
