{% extends "base.html" %}
{% block title %}Редактирование урока{% endblock %}
{% block sidebar_content %}
<div class="sidebar__button-wrapper">
    <button class="btn btn-primary ">
        <a href="/lesson_{{ lesson.id }}/slides">Слайды</a>
    </button>
    <button class="btn btn-primary ">
        <a type="submit">Сохранить</a>
    </button>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Редактирование урока</h2>
    <form id="editLessonForm" action="/update-lesson/{{ lesson.id }}" method="post">
        <div class="form-group">
            <label for="firstSlideId">First Slide ID</label>
            <input type="number" class="form-control" id="firstSlideId" name="first_slide_id" value="{{ lesson.first_slide_id }}">
        </div>
        <div class="form-group">
            <label for="examSlideId">Exam Slide ID</label>
            <input type="number" class="form-control" id="examSlideId" name="exam_slide_id" value="{{ lesson.exam_slide_id }}">
        </div>
        <div class="form-group">
            <label for="isPaid">Is Paid</label>
            <select class="form-control" id="isPaid" name="is_paid">
                <option value="true" {% if lesson.is_paid %} selected {% endif %}>Yes</option>
                <option value="false" {% if not lesson.is_paid %} selected {% endif %}>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="totalSlides">Total Slides</label>
            <input type="number" class="form-control" id="totalSlides" name="total_slides" value="{{ lesson.total_slides }}">
        </div>


    </form>
</div>
{% endblock %}
