{% extends "base.html" %}
{% block title %}Lessons{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Список уроков</h2>
    <p></p>
    <table class="slides-table" id="lessonsTable">
        {% for lesson in lessons %}
        <tr data-lesson-id="{{ lesson.id }}">
            <td>{{ lesson.index }}</td>
            <td></td>
            <td>{{ lesson.title }}</td>
            <td>{% if lesson.is_paid %}PAID{% else %}{% endif %}</td>
            <td>
                <button class="edit-button" onclick="editLesson({{ lesson.id }})">✏️</button>
            </td>
            <td>
                <button onclick="moveLessonUp(this)">∆</button>
            </td>
            <td>
                <button onclick="moveLessonDown(this)">∇</button>
            </td>
            <td>
                <button onclick="addLesson({{ lesson.id }})" data-lesson-id="{{ lesson.id }}">+</button>
            </td>
            <!--            <td>-->
            <!--                <button class="delete-lesson" onclick="confirmLessonDeletion({{ lesson.id }})">−</button>-->
            <!--            </td>-->
            {% endfor %}
</div>
{% endblock %}
{% block sidebar_content %}
<div class="sidebar__button-wrapper">
    <button class="btn btn-success" onclick="saveLessonsOrder()">Сохранить</button>
</div>
{% endblock %}
