{% extends "base.html" %}
{% block title %}Реакции{% endblock %}
{% block content %}
<!--<script>-->
<!--    function randomInteger(min, max) {-->
<!--    // случайное число от min до (max+1)-->
<!--    let rand = min + Math.random() * (max + 1 - min);-->
<!--    return Math.floor(rand);-->
<!--    }-->

<!--    function addReaction(type) {-->

<!--    const randomNum = randomInteger(1000, 9000000)-->
<!--    console.log('randomNum', randomNum)-->
<!--    // Получаем контейнер для правильных или неправильных реакций-->
<!--    const container = document.getElementById(`${type}-reactions`);-->

<!--    // Создаем новый элемент div-->
<!--    const inputGroup = document.createElement('div');-->
<!--    inputGroup.className = 'reactions-input-wrapper mb-2';-->

<!--    // Создаем новый элемент input-->
<!--    const input = document.createElement('input');-->
<!--    input.type = 'text';-->
<!--    input.className = 'form-control';-->
<!--    input.name = `${type}_${randomNum}_new`; // Важно установить уникальное имя для нового поля-->

<!--    // Создаем новый div для кнопки-->
<!--    const inputGroupAppend = document.createElement('div');-->
<!--    inputGroupAppend.className = 'input-group-append';-->

<!--    // Создаем новый элемент кнопку для удаления-->
<!--    const deleteButton = document.createElement('button');-->
<!--    deleteButton.className = 'btn btn-danger btn-square';-->
<!--    deleteButton.type = 'button';-->
<!--    deleteButton.textContent = '-';-->

<!--    // Логика для удаления элемента из DOM-->
<!--    deleteButton.onclick = function(e) {-->
<!--        const target = e.target;-->
<!--        const parent = target.parentElement.parentElement-->

<!--        parent.remove()-->
<!--    };-->


<!--    inputGroupAppend.appendChild(deleteButton);-->
<!--    inputGroup.appendChild(input);-->
<!--    inputGroup.appendChild(inputGroupAppend);-->
<!--    container.appendChild(inputGroup);-->
<!--    }-->


<!--    document.addEventListener("DOMContentLoaded", () => {-->
<!--    const textareas = document.querySelectorAll('textarea');-->
<!--    textareas.forEach(textarea => {-->
<!--        autoResizeTextarea.call(textarea);-->
<!--        textarea.addEventListener('input', autoResizeTextarea);-->
<!--    });-->


<!--    document.getElementById('editReactionsForm').onsubmit = async function(e) {-->
<!--        e.preventDefault(); // Предотвращаем стандартную отправку формы-->
<!--        let formData = new FormData(this);-->
<!--        let response = await fetch('/reactions', {-->
<!--            method: 'POST',-->
<!--            body: formData-->
<!--        });-->
<!--        let result = await response.json();-->
<!--        if (response.ok) {-->
<!--            alert(result.message); // Показываем сообщение-->
<!--            window.location.reload(); // Перезагружаем страницу-->
<!--        } else {-->
<!--            alert("Ошибка при сохранении: " + result.detail); // Показываем ошибку-->
<!--        }-->
<!--    };-->
<!--    function confirmDeletion(reactionId) {-->
<!--        if (confirm('Вы уверены, что хотите удалить эту реакцию?')) {-->
<!--        fetch(`/reactions/${reactionId}`, {-->
<!--            method: 'DELETE'-->
<!--        })-->
<!--        .then(response => response.json())-->
<!--        .then(data => {-->
<!--            alert(data.message);-->
<!--            window.location.reload(); // Перезагружаем страницу для отображения изменений-->
<!--        })-->
<!--        .catch(error => {-->
<!--            alert('Ошибка при удалении: ' + error);-->
<!--        });-->
<!--    }-->
<!--    }-->
<!--</script>-->
<div class="container mt-4">
    <h3 class="text-left">Редактирование реакций</h3>
    <form id="editReactionsForm" action="/reactions" method="post">
        <div class="reactions-form-title d-flex justify-content-between align-items-center">
            <h4>RIGHT</h4>
            <button type="button" class="btn btn-success btn-square" onclick="addReaction('right')">+</button>
        </div>
        <div id="right-reactions">
            {% for reaction in right %}
            <div class=" reactions-input-wrapper mb-2">
                <input type="text" class="form-control " name="right_{{ reaction.id }}" value="{{ reaction.text }}">
                <div class="input-group-append">
                    <button class="btn btn-danger btn-square" type="button" onclick="confirmDeletion({{ reaction.id }})">-</button>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="reactions-form-title d-flex justify-content-between align-items-center">
            <h4>WRONG</h4>
            <button type="button" class="btn btn-success btn-square" onclick="addReaction('wrong')">+</button>
        </div>
        <div id="wrong-reactions">
            {% for reaction in wrong %}
            <div class="reactions-input-wrapper mb-2">
                <input type="text" class="form-control" name="wrong_{{ reaction.id }}" value="{{ reaction.text }}">
                <div class="input-group-append">
                    <button class="btn btn-danger btn-square" type="button" onclick="confirmDeletion({{ reaction.id }})">-</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="content__button-wrapper">
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </div>
    </form>
</div>

{% endblock %}
{% block sidebar_content %}
<div class="sidebar__button-wrapper">
    <!--    <button class="btn btn-primary">-->
    <!--        <span>Сохранить изменения</span>-->
    <!--    </button>-->
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>

</div>
{% endblock %}
