{% extends "base.html" %}
{% block title %}Slides{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2>{{ lesson.title }}</h2>
    <p></p>
    <table class="slides-table" id="slidesTable">
        {% for slide in slides %}
        <tr data-slide-id="{{ slide.id }}" data-lesson-id="{{ slide.lesson_id }}" data-next-slide="{{ slide.next_slide or 'None' }}">
            <td>{{ loop.index }}</td>
            {% if slide.slide_type.value == 'text' %}
            <td>🖋️</td>
            <td>{{ slide.text }}</td>
            <td>{{ slide.keyboard_type | default('', true) }}</td>
            {% elif slide.slide_type.value == 'image' %}
            <td>🖼️</td>
            <td>{{ slide.picture }}</td>
            <td>{{ slide.keyboard_type | default('', true) }}</td>
            {% elif slide.slide_type.value == 'pin_dict' %}
            <td>📎</td>
            <td>{{ slide.text }}</td>
            <td></td>
            {% elif slide.slide_type.value == 'small_sticker' %}
            <td>🧨</td>
            <td>{{ slide.slide_type.value }}</td>
            <td></td>
            {% elif slide.slide_type.value == 'big_sticker' %}
            <td>💣</td>
            <td>{{ slide.slide_type.value }}</td>
            <td></td>
            {% elif slide.slide_type.value == 'quiz_options' %}
            <td>🧩</td>
            <td>{{ slide.text }}</td>
            <td>{{ slide.keyboard }}</td>
            {% elif slide.slide_type.value == 'quiz_input_word' %}
            <td>🗨️</td>
            <td>{{ slide.text }}</td>
            <td>{{ slide.right_answers }}</td>
            {% elif slide.slide_type.value == 'quiz_input_phrase' %}
            <td>💬</td>
            <td>{{ slide.text }}</td>
            <td>{{ slide.right_answers }}</td>
            {% elif slide.slide_type.value == 'final_slide' %}
            <td>🎉</td>
            <td>{{ slide.text }}</td>
            <td></td>
            {% endif %}
            <td>
                <button class="edit-button" onclick="editSlide({{ slide.id }})">✏️</button>

            </td>
            <td>
                <button onclick="moveSlideUp(this)">∆</button>
            </td>
            <td>
                <button onclick="moveSlideDown(this)">∇</button>
            </td>
            <td>
                <dialog id="slideTypeDialog">
                    <form method="dialog">
                        <p>
                            <button type="button" onclick="selectSlideType('text')">🖋️ text</button>
                        </p>
                        <p>
                            <button type="button" onclick="selectSlideType('image')">🖼️ image</button>
                        </p>
                        <p>
                            <button type="button" onclick="selectSlideType('pin_dict')">📎 pin_dict</button>
                        </p>
                        <p>
                            <button type="button" onclick="selectSlideType('small_sticker')">🧨 small_sticker</button>
                        </p>
                        <p>
                            <button type="button" onclick="selectSlideType('big_sticker')">💣 big_sticker</button>
                        </p>
                        <p>
                            <button type="button" onclick="selectSlideType('quiz_options')">🧩 quiz_options</button>
                        </p>
                        <p>
                            <button type="button" onclick="selectSlideType('quiz_input_word')">🗨️ quiz_input_word</button>
                        </p>
                        <p>
                            <button type="button" onclick="selectSlideType('quiz_input_phrase')">💬 quiz_input_phrase</button>
                        </p>
                        <p>
                            <button type="button" onclick="selectSlideType('final_slide')">🎉 final_slide</button>
                        </p>
                        <p>
                            <button type="button" onclick="document.getElementById('slideTypeDialog').close()">Отмена</button>
                        </p>
                    </form>
                </dialog>

                <button onclick="showModalWithSlideId(this.getAttribute('data-slide-id'))" data-slide-id="{{ slide.id }}">+</button>
            </td>
            <td>
                <button class="delete-slide" onclick="confirmSlideDeletion({{ slide.id }})">−</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
{% block sidebar_content %}
<div class="sidebar__button-wrapper">
    <button class="btn btn-primary" onclick="saveSlideOrder()">Сохранить изменения</button>
</div>
{% endblock %}
