{% extends "base.html" %}
{% block title %}Texts{% endblock %}
{% block content %}
<h3>Редактирование текстов</h3>

<form id="editTextsForm" >
    <table>
        <tr>
            <th>Описание</th>
            <th>Текст</th>
        </tr>
        {% for text in texts %}
        <tr>
            <td>{{ text.description }}</td>
            <td>
                <textarea name="{{ text.prompt }}">{{ text.text }}</textarea>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="content__button-wrapper">
        <button id="save" type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
</form>
{% endblock %}
