body {
  display: flex;
}

.sidebar {

  height: 100vh;
  /* Ширина сайдбара */
  width: 320px;
  /* Зафиксируем сайдбар, чтобы он оставался на месте при прокрутке */
  position: fixed;
  /* Сайдбар будет слева */
  /*left: 0;*/
  /* Отступ сверху */
  /*top: 0;*/
  /* Фон сайдбара */
  background-color: #f8f9fa;
}

.sidebar__button-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    /* Чтобы контент не налезал на сайдбар */
    margin-left: 320px;
    /* Остальной контент занимает всё доступное пространство */
    flex-grow: 1;
    padding: 1rem;
}

.content__button-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__arrow-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar__arrow-buttons button {
    /*аналог width 100%*/
    flex-grow: 1;
}

#editTextsForm {
    margin-top: 20px;
}

.reactions-form-title {
    margin-top: 20px;
}


/* Стилизация кнопок в сайдбаре */
.btn {
    display: flex; /* Кнопки будут блочными элементами */
    align-content: center;
    justify-content: center;
    /*width: 100%; !* Ширина кнопок будет равна ширине сайдбара *!*/
    text-align: center; /* Текст в кнопках будет выровнен по левому краю */
      /* height: 44px; */
}

.btn a {
    color: white;
    text-decoration: none;
}

#content {
  /* Чтобы контент не налезал на сайдбар */
  /*margin-left: 300px;*/
  /* Остальной контент занимает всё доступное пространство */
  flex-grow: 1;
  padding: 1rem;
}

.reactions-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-square {
    height: 38px;
    width: 38px;
    align-items: center;
    justify-content: center;
}

.reactions-form-title {
    margin-bottom: 10px;
}


/* Стилизация таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    border-radius: 8px;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
}
th {
    background-color: #007bff;
    color: white;
    font-size: 16px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Явное указание ширины столбцов */
th, td {
    width: 50%;
}

/* Стили текстового поля */
textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
}

/* Стилизация таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    border-radius: 8px;
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
}
th {
    background-color: #007bff;
    color: white;
    font-size: 16px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Явное указание ширины столбцов */
th, td {
    width: 50%;
}

/* Стили текстового поля */
textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 4px;
}


.edit-button {
    margin-left: 10px;
}

.compact-table {
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
}

.compact-table th, .compact-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.compact-table th {
    background-color: #f2f2f2;
}

.compact-table button {
    background: none; /* Убирает фоновый цвет */
    border: none; /* Убирает границы */
    padding: 0; /* Убирает отступы */
    margin: 0; /* Убирает внешние отступы */
    cursor: pointer; /* Меняет курсор при наведении на кнопку */
    font-size: 10px; /* Размер шрифта для эмодзи */
}

.slides-table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
}

.slides-table th, .sliodes-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.slides-table th {
    background-color: #f2f2f2;
}

.slides-table button {
    background: none; /* Убирает фоновый цвет */
    border: none; /* Убирает границы */
    padding: 0; /* Убирает отступы */
    margin: 0; /* Убирает внешние отступы */
    cursor: pointer; /* Меняет курсор при наведении на кнопку */
    font-size: 12px; /* Размер шрифта для эмодзи */
}
.slides-table td:first-child, .slides-table th:first-child,
.slides-table td:nth-child(2), .slides-table th:nth-child(2) {
    width: 50px; /* Sets the width of the first and second columns to 50 pixels */
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
